.left-panel {
    background: url('../img/logo_web.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

.right-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.register-box {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
